<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/catalog.css' %}">
    <style>
       a {
        text-decoration: none;
       }
    </style>
</head>
<body>
    <div class="sidenav">
        <a href="{% url 'homepage' %}">
            <div style="margin-bottom: 20px; width: 310px; height: 50px; text-align: left; color: black; font-size: 36px; font-weight: 700; word-wrap: break-word">HOMEPAGE</div>
        </a>
        <a href="{% url 'women' %}">
            <div style="text-align: left; display: table-cell; width: 220px; height: 20px; color: black; font-size: 18px; font-weight: 500; word-wrap: break-word">WOMEN</div>
        </a>
        <a href="{% url 'men' %}">
            <div style="text-align: left; display: table-cell; width: 220px; height: 20px; color: black; font-size: 18px; font-weight: 500; word-wrap: break-word">MEN</div>
        </a>
        <a href="{% url 'create_product' %}">
            <div style="text-align: left; display: table-cell; width: 220px; height: 20px; color: black; font-size: 18px; font-weight: 500; word-wrap: break-word">
                CREATE PRODUCT
            </div>
        </a>
    </div>

    <div class="main">
        {% block content %}{% endblock %}
    </div>
</body>