{% extends 'core/base.html' %}

{% block content %}
<div class="goods" style="position: absolute; left: 450px; top: 105px">
    {% for item in category %}
    <a href="{% url 'detailed_page' item.id%}">
        <div class="rounded overflow-hidden shadow-lg">
            <img src="{{item.image.url}}" width="460" height="750">
            <div style="color: black; font-size: 19px; word-wrap: break-word">
                <p align="center" style="text-align: left">{{item.name}} &nbsp &nbsp {{item.price}}$ </p></p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}