{% extends 'core/base.html' %}

{% block content %}
<form style="position: absolute; text-align: center; left: 1650px; top: 30px;" method="GET">
    <input name="search_name">
    <input type="submit" value="SEARCH"> <br>
    <input type="submit" value="CLEAR">
</form>
<div class="goods" style="position: absolute; left: 450px; top: 105px">
    {% for item in category %}
    <a href="{% url 'detailed_page' item.id%}">
        <div class="rounded overflow-hidden shadow-lg">
            <img src="{{item.image.url}}" width="460" height="750">
            <div style="color: black; font-size: 19px; word-wrap: break-word">
                <p align="center" style="text-align: left">{{item.name}} &nbsp &nbsp {{item.price}}$ </p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
<select style="position: absolute; text-align: center; left: 1650px; top: 100px; width: 225px; height: 30px; color: black; font-size: 18px; font-weight: 500; word-wrap: break-word" onchange="window.location.href = this.options[this.selectedIndex].value">
	<option value="">SORT BY</option>
	<option value="{% url 'all_men' %}?sort_by=price_a">SORT BY PRICE ASC</option>
	<option value="{% url 'all_men' %}?sort_by=price_d">SORT BY PRICE DESC</option>
</select>

{% endblock %}