{% extends 'core/base.html' %}

{% block content %}
<a href="{% url 'all_women' %}">
    <div style="position: absolute; text-align: center; left: 800px; top: 100px; width: 300px; height: 20px; color: black; font-size: 24px; font-weight: 500; word-wrap: break-word">
        ALL CLOTHES
    </div>
</a>
<a href="{% url 'women_tops' %}">
    <div style="position: absolute; text-align: center; left: 800px; top: 140px; width: 300px; height: 20px; color: black; font-size: 24px; font-weight: 500; word-wrap: break-word">
        TOPS
    </div>
</a>
<a href="{% url 'women_bottoms' %}">
    <div style="position: absolute; text-align: center; left: 800px; top: 180px; width: 300px; height: 20px; color: black; font-size: 24px; font-weight: 500; word-wrap: break-word">
        BOTTOMS
    </div>
</a>
<a href="{% url 'women_outerwear' %}">
    <div style="position: absolute; text-align: center; left: 800px; top: 220px; width: 300px; height: 20px; color: black; font-size: 24px; font-weight: 500; word-wrap: break-word">
        OUTERWEAR
    </div>
</a>
<a href="{% url 'women_footwear' %}">
    <div style="position: absolute; text-align: center; left: 800px; top: 260px; width: 300px; height: 20px; color: black; font-size: 24px; font-weight: 500; word-wrap: break-word">
        FOOTWEAR
    </div>
</a>
{% endblock %}