{% extends 'core/base.html' %}

{% block content %}

<div>
    <h2 align="center">NEW PRODUCT</h2>
    <form style="position: absolute; left: 850px; top: 100px" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="CREATE">
    </form>
</div>

{% endblock %}