{% extends 'core/base.html' %}
{% block content %}
    <div class="main">
        <div class="detailed" style="position: absolute; left: 450px" xmlns="http://www.w3.org/1999/html">
            <div class="rounded overflow-hidden shadow-lg">
                <img align="center" src="{{product.image.url}}" width="760" height="1200">
            </div>
            <div style="position: absolute; left:900px; top:-15px">
                <div style="position: absolute; text-align: left; display: table-cell; width: 220px; height: 20px; color: black; font-size: 24px; font-weight: 500; word-wrap: break-word">
                    <p style="margin-bottom: 60px; width: 310px; height: 50px; text-align: left; color: black; font-size: 30px; font-weight: 700; word-wrap: break-word">
                        {{product.name}}
                    </p>
                    <p style="font-size: 24px; font-weight: 500;margin-bottom: 20px "> {{product.description}} </p>
                    <p style="font-size: 24px; font-weight: 500;margin-bottom: 20px "> &#9679 &nbsp {{product.material}} </p>
                    <p style="font-size: 24px; font-weight: 600;margin-bottom: 1px ">COLOR:</p> {{product.color}}
                    <p style="font-size: 24px; font-weight: 600;margin-bottom: 1px ">PRICE:</p> {{product.price}}$
                </div>
            </div>
            <a href="{% url 'edit_product' product.pk %}">
            <div style="position: absolute; text-align: left; top: 15px; left:1300px; display: table-cell; width: 220px; height: 20px; color: black; font-size: 18px; font-weight: 500; word-wrap: break-word">
                EDIT PRODUCT
            </div>
            </a>
        </div>
    </div>
</body>
{% endblock %}
