{% extends 'core/base.html' %}

{% block content %}

<div>
    <h2 align="center">EDIT PRODUCT</h2>
    <form style="position: absolute; left: 850px; top: 100px" method="POST" class="user-update-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="EDIT">
    </form>
</div>

{% endblock %}