.sidenav {
    width: 315px;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 25px;
    overflow-x: hidden;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
}
